<div class="page-header">
  <h3>Health Detail #<%= @health_detail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/health_details" class="btn btn-primary">
        Back
      </a>
      <a href="/health_details/<%= @health_detail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_health_detail/<%= @health_detail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
